<md-content class="padded-content-page">
    <div layout="row" layout-align="center center">
        <h2 class="md-display-3" translate>DASHBOARD</h2>
    </div>
    <md-list>
        <md-subheader class="md-no-sticky">Tasks</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="task in vm.tasks">
            <md-checkbox ng-model="item.selected"></md-checkbox>
            <div class="md-list-item-text">
                <h3>{{ task.Descricao }}</h3>
                <h4>{{ task.Resumo }}</h4>
                <p>{{ task.DataDeInicio | date: 'dd/MM/yyyy HH:mm'}}</p>
            </div>
        </md-list-item>
    </md-list>

</md-content>